@import '@acab/reset.css';
@import 'water.css';

:where(html) {
  color-scheme: normal;
}

:where(:root) body {
  display: grid;
  height: 100vh;
  height: 100dvh;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.App {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
  word-wrap: break-word;
  flex-direction: column;
  /* margin-bottom: 80px; */
}

.Box {
  background-color: var(--background-alt);
  border-radius: 6px;
  padding: 10px 15px;
  overflow: auto;
}
.Box input {
  border: 1px solid var(--border);
}

.Box-svg {
  display: inline;
  vertical-align: middle;
}

.Grid {
  --fl-gap-h: 1em; /* This needs to have a unit for calc() below */
  --fl-gap-v: 1em; /* This needs to have a unit for calc() below */
  display: flex;
  flex-wrap: wrap;
  gap: var(--fl-gap-v, 0px) var(--fl-gap-h, 0px);
}

.Grid > * {
  flex: 0 0 100%;
}

.Grid > .Cell100 {
  flex: 0 0 100%;
}

@media screen and (min-width: 640px) {
  .Grid > * {
    flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * var(--fl-gap-h));
  }

  .Grid > .Cell50 {
    flex: 0 0 calc(1 / 2 * 100% - (1 - 1 / 2) * var(--fl-gap-h));
  }

  .Grid > .Cell25 {
    flex: 0 0 calc(0.25 * 100% - (1 - 0.25) * var(--fl-gap-h));
  }

  .Grid > .Cell75 {
    flex: 0 0 calc(0.75 * 100% - (1 - 0.75) * var(--fl-gap-h));
  }
}

@media screen and (min-width: 960px) {
  .Grid > * {
    flex: 0 0 calc(1 / 3 * 100% - (1 - 1 / 3) * var(--fl-gap-h));
  }
}
