name: Adapter
env:
  CI: true
  FORCE_COLOR: 1
  PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/ms-playwright
on:
  push:
    branches:
      - master
    paths:
      - 'packages/adapter/**'
      - .github/workflows/adapter.yml
      - pnpm-lock.yaml
  pull_request:
    paths:
      - 'packages/adapter/**'
      - .github/workflows/adapter.yml
      - pnpm-lock.yaml
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: pnpm
      - run: pnpm install
      - run: pnpm --filter filsnap-adapter exec playwright install --with-deps chromium
      - run: pnpm -r --filter filsnap-adapter run lint
      - run: pnpm -r --filter filsnap-adapter exec depcheck
      - run: pnpm -r --filter filsnap-adapter run test
        id: tests
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: packages/snap/playwright-report/
          retention-days: 30
